<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
</head>
<body>
    
    <h1>New Recipe</h1>

    <%= form_for(@recipe) do |r|%>

        <%= r.label :name, "Recipe Name" %><br>
        <%= r.text_field :name %>
        <br><br>
        <%= r.label :ingredients, "List the ingredients for this Recipe" %><br>
        <%= r.text_field :ingredients, :placeholder => "milk, eggs, sugar..." %>
        <br><br>
        <%= r.label :image_url, "Add a link to the picture for this recipe" %><br>
        <%= r.text_field :image_url %>
        <br><br>
        <%= r.label :category_id, "What category does this Recipe belong to?" %>
        <%= r.collection_select :category_id, @categories, :id, :name, prompt: true %>
        <br><br>
        <%= r.submit %>

    <% end %>
    
</body>
</html>