<!DOCTYPE html>
<html>
  <head>
    <%# <title>KetoIsNeatoBackend</title> %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <div class="navbar">
        <div class="navbar-title-container">
          <h1>Keto is Neato Backend</h1>
        </div>
        <div class="navbar-actions-container">
          <%= link_to "Home", '/recipes/home' %>
          <%= link_to "New Recipe", new_recipe_path%>
          <%= link_to "Logout", logout_path, method:"delete"%>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
